.admin-add-property {
  background-color: #fff;
  border-radius: 15px;
  padding: 25px;

  .admin-add-property-content {
    display: flex;

    .left-content {
      width: 60%;
      border-right: 1px solid #b5b2b2;
      padding-top: 25px;
      padding-left: 60px;
      padding-right: 60px;
      padding-bottom: 100px;

      .tag {
        font-family: "Manrope";
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        color: #f7b03e;
      }
      .property-radio-btn {
        margin: 50px 0;
      }

      .input-lable {
        h6 {
          font-family: "Manrope";
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          color: #000000;
        }
      }
      .img-upload {
        border: 1px dashed #1877f2;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 50px;
        padding: 60px 0;
        margin-top: 20px;
        margin-bottom: 24px;
      }
      .property-type-tabs {
        // margin-bottom: 28px;
      }
      .input-lable1 {
        margin-top: 28px;
        margin-bottom: 15px;

        h5 {
          font-family: "Manrope";
          font-style: normal;
          font-weight: 800;
          font-size: 16px;
          color: #000000;

          span {
            color: #f7b03e;
            padding-right: 30px;
            margin-left: -46px;
          }
        }
        h2 {
          font-family: "Manrope";
          font-style: normal;
          font-weight: 500;
          font-size: 20px;
          color: #000000;
          margin-top: 8px;

          span {
            &:first-child {
              margin-right: 8px;
            }
            &:last-child {
              font-family: "Manrope";
              font-style: normal;
              font-weight: 700;
              font-size: 15px;
              color: #818181;
              margin-left: 13px;
            }
          }
        }
      }

      .select-prop-type {
        width: 100%;
        background-color: #fff;
        border: 0.5px solid #888887;
        border-radius: 7px;
        padding: 10px 15px;
        font-family: "Manrope";
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        color: #656565;

        &:focus {
          border: 0.5px solid #f7b03e;
          outline: #f7b03e;
        }
      }
      .property-detail-input {
        width: 100%;
        background-color: #fff;
        border: 0.5px solid #888887;
        border-radius: 7px;
        padding: 10px 15px;
        font-family: "Manrope";
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        color: #656565;

        &::placeholder {
          font-family: "Manrope";
          font-style: normal;
          font-weight: 500;
          font-size: 15px;
          color: #656565;
          text-transform: capitalize;
        }

        &:focus {
          border: 0.5px solid #f7b03e;
          outline: #f7b03e;
        }
      }
      .prop-size {
        button {
          padding: 10px 55px;
          margin-left: 20px;
          border: 0.5px solid #888887;
          border-radius: 7px;
          font-family: "Manrope";
          font-style: normal;
          font-weight: 500;
          font-size: 15px;
          color: #f7b03e;
          background: transparent;
        }
      }
    }

    .right-content {
      width: 40%;
      padding-left: 40px;
      padding-top: 90px;
      display: flex;
      flex-direction: column;

      .added-property-details {
        margin-top: 25px;
        .property-name {
          display: flex;
          justify-content: space-between;
          .left {
            h1 {
              font-family: "Manrope";
              font-style: normal;
              font-weight: 600;
              font-size: 25px;
              color: #2e2e2e;
            }
            p {
              font-family: "Manrope";
              font-style: normal;
              font-weight: 600;
              font-size: 20px;
              color: #696969;
            }
          }
          .right {
            h1 {
              font-family: "Manrope";
              font-style: normal;
              font-weight: 600;
              font-size: 25px;
              color: #2e2e2e;
            }
          }
        }

        .property-detail {
          margin-top: 40px;
          h3 {
            font-family: "Manrope";
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            color: #2b2b2b;
          }
          p {
            font-family: "Manrope";
            font-style: normal;
            font-weight: 500;
            font-size: 17px;
            color: #696969;
            margin-top: 5px;
          }
        }
        .property-features {
          margin-top: 36px;
          h3 {
            font-family: "Manrope";
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            color: #2b2b2b;
          }

          p {
            font-family: "Manrope";
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            color: #696969;
            display: flex;
            align-items: center;

            margin-top: 5px;
            .f-ico {
              margin-right: 11px;
            }
          }
        }
      }
    }
  }
}
