.admin-add-property {
  background-color: #fff;
  border-radius: 15px;
  padding: 25px;

  .admin-add-property-content {
    display: flex;

    .left-content {
      width: 60%;
      border-right: 1px solid #b5b2b2;
      padding-top: 25px;
      padding-left: 60px;
      padding-right: 60px;
      padding-bottom: 100px;

      .tag {
        font-family: "Manrope";
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        color: #f7b03e;
      }
      .property-radio-btn {
        margin: 50px 0;
        display: flex;
        .b1 {
          margin-right: 15px;
          margin-top: 10px;

          label {
            cursor: pointer;
            width: fit-content;
            border: 0.5px solid #000;
            display: flex;
            flex-direction: column;
            align-items: center;

            p {
              font-family: "Manrope";
              font-style: normal;
              font-weight: 500;
              font-size: 15px;
              line-height: 20px;
              color: #000000;
            }

            [type="radio"] {
              position: absolute;
              opacity: 0;
              width: 0;
              height: 0;
              &:checked p {
                border-radius: 7px;
                color: #f7b03e !important;
                font-weight: 600;
              }
            }
          }
        }
      }

      .input-lable {
        h6 {
          font-family: "Manrope";
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          color: #000000;
        }
      }
      .img-upload {
        border: 1px dashed #1877f2;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 50px;
        padding: 60px 0;
        margin-top: 20px;
        margin-bottom: 24px;
      }
      .property-type-tabs {
      }
      .input-lable1 {
        margin-top: 28px;
        margin-bottom: 15px;

        h5 {
          font-family: "Manrope";
          font-style: normal;
          font-weight: 800;
          font-size: 16px;
          color: #000000;

          span {
            color: #f7b03e;
            padding-right: 30px;
            margin-left: -46px;
          }
        }
        h2 {
          font-family: "Manrope";
          font-style: normal;
          font-weight: 500;
          font-size: 20px;
          color: #000000;
          margin-top: 8px;

          span {
            &:first-child {
              margin-right: 8px;
            }
            &:last-child {
              font-family: "Manrope";
              font-style: normal;
              font-weight: 700;
              font-size: 15px;
              color: #818181;
              margin-left: 13px;
            }
          }
        }
      }

      .select-prop-type {
        width: 100%;
        background-color: #fff;
        border: 0.5px solid #888887;
        border-radius: 7px;
        padding: 10px 15px;
        font-family: "Manrope";
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        color: #656565;

        &:focus {
          border: 0.5px solid #f7b03e;
          outline: #f7b03e;
        }
      }
      .property-detail-input {
        width: 100%;
        background-color: #fff;
        border: 0.5px solid #888887;
        border-radius: 7px;
        padding: 10px 15px;
        font-family: "Manrope";
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        color: #656565;

        &::placeholder {
          font-family: "Manrope";
          font-style: normal;
          font-weight: 500;
          font-size: 15px;
          color: #656565;
          text-transform: capitalize;
        }

        &:focus {
          border: 0.5px solid #f7b03e;
          outline: #f7b03e;
        }
      }
      .prop-size {
        button {
          padding: 10px 55px;
          margin-left: 20px;
          border: 0.5px solid #888887;
          border-radius: 7px;
          font-family: "Manrope";
          font-style: normal;
          font-weight: 500;
          font-size: 15px;
          color: #f7b03e;
          background: transparent;
        }
      }

      .bonds-radio-btn,
      .bedroom-radio-btn,
      .bathroom-radio-btn {
        display: flex;
        flex-wrap: wrap;
        .b1 {
          margin-right: 15px;
          margin-top: 10px;

          label {
            cursor: pointer;
            width: fit-content;
            p {
              padding: 10px 20px;
              font-family: "Manrope";
              font-style: normal;
              font-weight: 500;
              font-size: 15px;
              color: #000;
              background: rgba(210, 210, 210, 0.32);
              border: 0.5px solid #888887;
              border-radius: 7px;
            }

            [type="radio"] {
              position: absolute;
              opacity: 0;
              width: 0;
              height: 0;
              &:checked + p {
                background-color: #fff;
                border: 1.25px solid #f7b03e;
                border-radius: 7px;
                color: #f7b03e;
                font-weight: 600;
              }
            }
          }
        }
      }

      .contact-information {
        margin-top: 70px;
        margin-bottom: 23px;
        .ci-content {
          background: #f7f6f6;
          border-radius: 15px;
          padding: 5px 26px 33px 26px;
          h4 {
            font-family: "Manrope";
            font-style: normal;
            font-weight: 700;
            font-size: 15px;
            color: #000000;
            padding-left: 20px;
          }
          input {
            background-color: transparent;
          }
        }
      }

      .add-prop {
        padding: 10px 45px;
        border: none;
        font-family: "Manrope";
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        color: #ffffff;
        background: #f7b03e;
        border-radius: 12px;
      }

      .prop-type-tabs {
        margin-top: 30px;
        width: 600px;
        .nav-tabs {
          border: none;
          .nav-link {
            background: #f7f7f7;
            border: 1px solid #888887;
            border-radius: 10px;
            width: 130px;
            height: 113px;
            padding: 0;
            outline: none;
            color: #000;
            margin-right: 22px;

            &.active {
              border: 1px solid #f7b03e;
              color: #f7b03e;

              .ico {
                color: #f7b03e !important;
              }
            }

            .ico {
              color: #000 !important;
            }
          }
        }

        .tab-content {
          margin-top: 30px;

          .b1 {
            margin-right: 15px;
            margin-top: 10px;

            label {
              cursor: pointer;
              width: fit-content;
              p {
                padding: 10px 0px;
                width: 131px;
                text-align: center;
                font-family: "Manrope";
                font-style: normal;
                font-weight: 500;
                font-size: 15px;
                color: #000;
                background: rgba(210, 210, 210, 0.32);
                border: 0.5px solid #888887;
                border-radius: 7px;
              }

              [type="radio"] {
                position: absolute;
                opacity: 0;
                width: 0;
                height: 0;
                &:checked + p {
                  background-color: #fff;
                  border: 1.25px solid #f7b03e;
                  border-radius: 7px;
                  color: #f7b03e;

                  font-weight: 600;
                }
              }
            }
          }

          .tab-pane {
            display: none;
            &.active {
              display: flex;
              flex-wrap: wrap;
            }
          }
        }
      }
    }

    .right-content {
      width: 40%;
      padding-left: 40px;
      padding-top: 90px;
      display: flex;
      flex-direction: column;

      .added-property-details {
        margin-top: 25px;
        .property-name {
          display: flex;
          justify-content: space-between;
          .left {
            h1 {
              font-family: "Manrope";
              font-style: normal;
              font-weight: 600;
              font-size: 25px;
              color: #2e2e2e;
            }
            p {
              font-family: "Manrope";
              font-style: normal;
              font-weight: 600;
              font-size: 20px;
              color: #696969;
            }
          }
          .right {
            h1 {
              font-family: "Manrope";
              font-style: normal;
              font-weight: 600;
              font-size: 25px;
              color: #2e2e2e;
            }
          }
        }

        .property-detail {
          margin-top: 40px;
          h3 {
            font-family: "Manrope";
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            color: #2b2b2b;
          }
          p {
            font-family: "Manrope";
            font-style: normal;
            font-weight: 500;
            font-size: 17px;
            color: #696969;
            margin-top: 5px;
          }
        }
        .property-features {
          margin-top: 36px;
          h3 {
            font-family: "Manrope";
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            color: #2b2b2b;
          }

          p {
            font-family: "Manrope";
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            color: #696969;
            display: flex;
            align-items: center;

            margin-top: 5px;
            .f-ico {
              margin-right: 11px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1440px) {
  .admin-add-property {
    .admin-add-property-content {
      .left-content {
        padding-left: 40px;
        padding-right: 20px;
      }
      .right-content {
        padding-left: 20px;

        .added-property-details {
          .property-name {
            display: flex;
            justify-content: space-between;
            .left {
              h1 {
                font-size: 18px !important;
              }
              p {
                font-size: 16px;
              }
            }
            .right {
              h1 {
                font-size: 18px;
              }
            }
          }

          .property-detail {
            margin-top: 40px;
            h3 {
              font-size: 18px;
            }
            p {
              font-size: 14px;
            }
          }

          .property-features {
            margin-top: 36px;

            h3 {
              font-size: 16px;
            }

            p {
              font-size: 14px;
              margin-top: 5px;
              .f-ico {
                margin-right: 3px;
                font-size: 10px !important;
                width: 25px;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1280px) {
  .admin-add-property {
    .admin-add-property-content {
      .left-content {
        padding-left: 30px;
        padding-right: 20px;
      }
      .right-content {
        padding-left: 20px;

        .added-property-details {
          .property-name {
            display: flex;
            justify-content: space-between;
            .left {
              h1 {
                font-size: 16px !important;
              }
              p {
                font-size: 14px;
              }
            }
            .right {
              h1 {
                font-size: 16px;
              }
            }
          }

          .property-detail {
            margin-top: 30px;
            h3 {
              font-size: 16px;
            }
            p {
              font-size: 14px;
            }
          }

          .property-features {
            margin-top: 36px;

            h3 {
              font-size: 16px;
            }

            p {
              font-size: 14px;
              margin-top: 5px;
              .f-ico {
                margin-right: 3px;
                font-size: 10px !important;
                width: 25px;
              }
            }
          }
        }
      }
    }
  }
}
